{{ define "title" }}<title>List</title>{{ end }}
{{ define "content" }}
<div class="page-header">
  <h1>List <small>uploaded by {{.By}}</small></h1>
</div>
<ul>
{{range .Tracks}}
<li>
	<a href="/listen?t={{.BoomID}}">{{.Name}}</a>
	<small>(by <a href="{{urlTo "list:by" "user" .By}}">{{.By}}</a>) </small>
</li>
{{end}}
</ul>

{{end}}
