{{ define "title" }}<title>Listen</title>{{ end }}
{{ define "content" }}
<div class="page-header">
  <h1>{{.Track.Name}} <small>by {{.Track.By}}</small></h1>
</div>

<audio src="{{urlTo "fetch" "id" .Track.BoomID}}" controls ></audio>
<br>
<a class="btn btn-default" href="{{urlTo "fetch" "id" .Track.BoomID}}">Download</a>
{{end}}
