{{ define "title" }}<title>Upload</title>{{ end }}
{{ define "content" }}
<div class="page-header">
	<h1>Upload</h1>
</div>
<div class="row">
	<div class="col-md-6">
		<p>
			Select File:
			<input class="form-control" type='file' id='_file'>
			<input class="btn btn-primary" type='button' id='_submit' value='Upload!'>
		</p>
	</div>
	<div class="col-md-6">
		<div id="uploadPanel" class="panel panel-default">
			<div class="panel-heading">Upload Status</div>
			<div class="panel-body">
				<p id="uploadStatus">Not started</p>
				<div class="progress progress-striped active">
					<div
						class="progress-bar progress-bar-striped"
						role="progressbar">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{end}}
{{ define "scripts"}}
<script type="text/javascript" src="/public/js/bootstrapProgressbar.min.js"></script>
<script type="text/javascript" src="/public/js/uploadui.js"></script>
{{end}}